.header {
  background: $colour-primary;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  @include vertical-center-text($header-height);
  &__logo {
    margin: auto;
    font-size: $header-font-size;
  }
}

@media only screen and (max-width: 649px) {
  .header {
    @include vertical-center-text(80px);
  }
  .header__logo {
    font-size: 2rem;
  }
}