.header {
  background: $colour-primary;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  @include vertical-center-text($header-height); // doit aller dans typo
  &__logo {
    margin: auto;
    font-size: $header-font-size; // doit aller dans typo
  }
}
