* {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.zoom > * {
  transition: transform .3s;
  text-align: center;

  &:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);
  }
}
