.menu-4 {
  background: $colour-menu-4;
  margin-top: 20px;
  margin-bottom: $footer-height*2;
  @include box_shadow;
  @include menu_padding;
  color: black;

  &-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include menu-grid-height;
  }

  &__subtitle {
    padding: 50px 0 20px;

    &:before, &:after {
      content: url("../public/img/ligne_menu4.png");
    }

    &:before {
      float: left;
      margin-right: 15px;
    }

    &:after {
      float: right;
      margin-left: 15px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    &-underline {
      float: none !important;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      &:hover:before {
        visibility: visible;
        width: 100%;
      }
    }
  }

  & h1, h2, h3 {
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__image {
    line-height: 0;
    text-align: center;

    & i {
      font-size: 65px;
    }
  }

  p {
    padding: 0 50px;
  }

  span {
    float: right;
  }

}


@media only screen and (max-width: 1280px) {
  .menu-4 {
    & h1 {
      font-size: 2rem;
    }

    & h2 {
      font-size: 1.3rem;
    }

    &__image i {
      font-size: 50px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .menu-4 {
    padding: 10% 4% 25%;
    margin: 0;
    margin-top: -45px;

    & p {
      text-align: center;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;

      & span {
        display: block;
        float: none;
      }
    }

    &-grid {
      height: auto;
    }
  }
  .menu-4__subtitle {
    padding: 15px 0 10px;

    &:before, &:after {
      content: '';
    }

    &-underline {
      text-decoration: underline;
    }
  }
}