@mixin vertical-center-text($height) {
  height: $height;
  line-height: $height;
}

@mixin box_shadow {
  -webkit-box-shadow: 0 0 20px 2px rgba(252,223,219,1);
  -moz-box-shadow: 0 0 20px 2px rgba(252,223,219,1);
  box-shadow: 0 0 20px 2px rgba(252,223,219,1);
}

@mixin text_linear-gradient($colour-left, $colour-right) {
  background: -webkit-linear-gradient(left, $colour-left 0%, $colour-right 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin menu_padding {
  padding: 45px 4% 130px;
}

@mixin menu_margin {
  margin-top: 45px;
}