<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css"/>

    <title>Ohmyfood - Mentions légales</title>
</head>
<body>

<header class="header zoom">
    <h1 class="header__logo">
        <a href="../index.html">
            ohmyfood
        </a>
    </h1>
</header>

<main class="container">
    <div class="mentions-legales-grid">
        <section class="mentions-legales">
            <h1>Mentions légales</h1>
            <p>En vigueur au 10/04/2020</p>

            <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
                Confiance
                dans
                l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site
                <a href="https://boscher-audrey.github.io/projet3/">https://boscher-audrey.github.io/projet3/</a> les
                présentes mentions légales.</p>
            <p>La connexion et la navigation sur le site (indiquer le nom du site) par l’Utilisateur implique
                acceptation
                intégrale
                et sans réserve des présentes mentions légales.</p>
            <p>Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>

            <h2>Article 1 : L’éditeur</h2>
            <p>L’édition et la direction de la publication du site <a href="https://boscher-audrey.github.io/projet3/">https://boscher-audrey.github.io/projet3/</a>
                est assurée
                par
                Jean
                Dupont, domiciliée 11 Rue de Rivoli, 75001 Paris, dont le numéro de téléphone est 0122446688, et
                l'adresse
                e-mail est
                <a href="mailto:contact@ohmyfood.com">contact@ohmyfood.com</a></p>

            <h2>Article 2 : accès au site</h2>
            <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée
                ou
                non
                et
                pouvant découler d’une nécessité de maintenance.</p>
            <p>En cas de modification, interruption ou suspension des services le site
                https://boscher-audrey.github.io/projet3/
                ne
                saurait être tenu responsable.</p>

            <h2>Article 3 : collecte des données</h2>
            <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
                de
                la
                vie
                privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
                libertés.
                Le site est déclaré à la CNIL sous le numéro 100 222 000.</p>
            <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
                d'accès,
                de
                rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit
                par mail à l'adresse <a href="mailto:contact@ohmyfood.com">contact@ohmyfood.com</a>

            <h2>Article 4 : cookies</h2>
            <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement
                sur
                son
                logiciel de navigation.
                En naviguant sur le site, il les accepte.</p>
            <p>Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des
                informations
                relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie
                par
                l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

            <h2>Article 5 : propriété intellectuelle</h2>
            <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site
                <a href="https://boscher-audrey.github.io/projet3/">https://boscher-audrey.github.io/projet3/</a>, sans
                autorisation de l’Editeur est prohibée et pourra
                entraînée
                des
                actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété
                intellectuelle et
                le
                Code civil.</p>
        </section>
    </div>
</main>

<footer class="footer">
    <a class="footer__link-left wiggle" href="mentions-legales.html">
        Mentions légales
    </a>
    <a class="footer__link-right wiggle" href="mailto:contact@ohmyfood.com">
        Contactez-nous
    </a>
</footer>

</body>
</html>