<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css"/>

    <title>ohmyfood</title>
</head>
<body>

<header class="header zoom">
    <h1 class="header__logo">
        <a href="/index.html">
            ohmyfood
        </a>
    </h1>
</header>

<main class="container">
    <div class="menu-grid">
        <h1 class="menu-3__heading">
            Le délice des papilles
        </h1>
        <section class="menu-3">
            <h1 class="menu-3__title">
                Le délice des papilles
            </h1>
            <h2 class="menu-3__subtitle">
                Pour bien commencer
            </h2>
            <p>
                Tartare de thon assaisoné au yuzu
                <span>
                    55€
                </span>
            </p>
            <p>
                Bouchée de homard croustillant et sa farandole de petits légumes
                <span>
                    89€
                </span>
            </p>
            <p>
                Velouté de cèpes aux truffes
                <span>
                    56€
                </span>
            </p>

            <h2 class="menu-3__subtitle">
                Pour bien continuer
            </h2>
            <p>
                Poulet rôti aux herbes de provence et sa crème à la truffe
                <span>
                    110€
                </span>
            </p>
            <p>
                Langouste rôtie et ses légumes de saison
                <span>
                    225€
                </span>
            </p>
            <p>
                Côte de boeuf angus et sa purée de panais
                <span>
                    115€
                </span>
            </p>

            <h2 class="menu-3__subtitle">
                Pour bien terminer
            </h2>
            <p>
                Farandole de desserts du chef
                <span>
                    55€
                </span>
            </p>
            <p>
                Crème brulée revisitée
                <span>
                    60€
                </span>
            </p>
            <p>
                Tiramisu à la noisette
                <span>
                    55€
                </span>
            </p>
        </section>
    </div>
</main>

<footer class="footer">
    <a class="footer__link-left" href="mentions-legales.html">
        Mentions légales
    </a>
    <a class="footer__link-right">
        Contactez-nous
    </a>
</footer>

</body>
</html>